btn {
  width: 100%;
}

table {
  height: 200px;
  margin-top: 1em;
}
.table-bordered>tbody>tr>td {
  border: 1px solid gray;
  width: 33%;
  height: 66px;
  text-align: center;
  vertical-align: middle;
  font-size: 25pt;
  font-weight: bold;
}

.box-x {
  background-color: green;
}
.box-o {
  background-color: red;
}